* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

.background {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.fullPage {
  height: 100vh;
  width: 100%;
  background-color: black;
  scroll-snap-align: start;
  display: flex;
  background-size: cover;
  background-position: center;
  opacity: 60%;
}

#home {
  background-image: url(../image/homeBackground.jpg);
}
#about {
  background-image: url(../image/aboutBackground.jpg);
}
#service {
  background-image: url(../image/serviceBackground.jpg);
}
#project {
  background-image: url(../image/projectBackground.jpg);
}

#rainfall {
  display: flex;
  #map {
    width: 100%;
    top: 60px;
  }
}

#recruit {
  background-image: url(../image/recruitBackground.jpg);
}
#contact {
  background-image: url(../image/contactBackground.jpg);
}

.logo {
  width: 2rem;
}

.star {
  font-size: 1rem;
  font-weight: bold;
}

.easy-button-button.disabled {
  display: none;
}

.my-div-icon {
  size: 2rem;
  background: rgb(0, 4, 255);
  border: 2px solid rgba(0, 0, 0, 0.575);
  color: rgb(255, 0, 0);
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
}
